.App {
  text-align: center;
}

nav ul{
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  padding: 20px;
  font-weight: bolder;
}


nav ul a{
  text-decoration: none;
}


.container{
  display: flex;
  justify-content: center;

}


